* {
    margin: 0;
    padding: 0;
    font-family: "helvetica neue medium", Arial, sans-serif;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

/*<------сверху фиксы------>*/



.backgroung {
    background-image: url("../images/homework5.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    width: 100%;
    height: 36px;
    background-color: rgb(8,91,159);
    text-align: center;
}

/*-----верхнее меню-----*/

header > div {
    display: inline-block;
}

.border {
    height: 32px;
    border-left: solid 1px #56a2dc;
    margin-top: 2px;
}

.wrapper_right {
    float: right;
    margin-right: 25px;
}

.wrapper_right > div {
    float: right;
}

.ola {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.minhas {
    background-image: url("../images/flag.png");
    background-size: 25px 27px;
    background-position: 15px center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    padding-left: 50px;
}

.wrap a {
    display: block;
    height: 26px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.wrap:hover {
    background: #4eabda;
}

.wrap:hover .decor {
    text-decoration: underline;
}

.wrapper_left {
    float: right;
}

.topmenu {
    float: right;
    display: block;
}

.topmenu a {
    display: block;
    height: 26px;
    padding: 10px 15px 0 15px;
    text-decoration: none;
    color: #60b5ed;
    font-size: 14px;
}

.topmenu a:hover {
    background: #4eabda;
    color: white;
}

/*<-------конец верхнего меню----------->*/

/*-----блок по центру-----*/
/*--весь блок--*/
main {
    position: relative;
    width: 560px;
    height: 550px;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -230px;
}
/*-----шапка центрального блока-----*/
.cadastree {
    height: 62px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}

.cadastree p {
    text-align: center;
    padding-top: 16px;
    color: #fff;
}

/*-----второй блок центра-----*/
.second {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

    /*--начало кнопки FB--*/
.fb_block {
    position: relative;
    height: 35px;
    width: 277px;
    margin: 0 auto;
    top: 36px;
}

.fb_block{
    cursor: pointer;
}

#fb {
    height: 35px;
    width: 276px;
    border: none;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border-top: 2px solid transparent;
}

#fb {

    border-color: #759cc3;
    background-color: #4a6ea9;
    background-image: url("../images/facebook-icon.png");
}

.fb_block span {
    font-weight: 800;
}
#fb a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    position: relative;
    left: 60px;
    top: 8px;
    width: 200px;
}
/*--стрелка FB--*/
.q {
    margin-left: 25px;
    display: inline-block;
    height: 6px;
    width: 6px;
    border-top: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    transform: rotate(45deg);
}
    /*--бордер после картинки F--*/
.bord {
    border-right: groove 2px #335eb3;
    height: 35px;
    position: absolute;
    left: 35px;
}
    /*---конец кнопки FB---*/


.trabl {
    position: relative;
    width: 275px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
}
.left.top {
    float: left;
    width: 120px;
    height: 24px;
    border-bottom: solid 1px #666666;
}

.right.top {
    float: right;
    width: 120px;
    height: 24px;
    border-bottom: solid 1px #666666;
}

.left.bottom {
    float: left;
    width: 120px;

    border-top:solid 1px black;
}

.right.bottom {
    float: right;
    width: 120px;

    border-top:solid 1px black;
}

.ou {
    position: absolute;
    margin: 16px 125px;
    color: #999999;
}


.forms {

}

.form_item {
    padding: 8px 0;
    width: 276px;
    margin: auto;
    font-size: 14px;
    color: white;
}

.form_item > input:hover {
    background-color: #1b5288;
    box-shadow: 0 0 10px 5px #508cb4;
    border-bottom: solid 1px #689bcc;
}

.fild {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px #494947;
}

.submit.input {
    margin:  auto;
}

.form_item.submit {
    text-align: center;

}

.submit input {
    background: linear-gradient(to bottom, #50aedb, #2e7ac4);
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.submit > input,
.chk > input,
.chk > label{
    cursor: pointer;
}

.text {
    margin-top: 15px;
    text-align: center;
    font-size: 11px;
    color: #ccc;
}