* {
    margin: 0;
    padding: 0;
    font-family: "helvetica neue medium", Arial, sans-serif;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

.backgroung {
    background-image: url("../images/homework5.jpg");
    width: 1215px;
    height: 1029px;
    margin: 0 auto;

}

header {
    width: 1215px;;
    height: 36px;
    background-color: rgba(73, 177, 255, 0.58);
    margin: 0 auto;
}

ul {
    height: 100%;
    float: right;
}

li {
    display: block;
    float: left;
    margin-top: 10px;
}

li a {
    padding: 0 10px 0 10px;
    font-size: 12px;
    text-decoration: none;
}

.backgroung {

}

.transparent {
    margin: 0 auto;
    width: 560px;
    height: 550px;
    padding-top: 17.5%;
}

.cadastree {
    height: 62px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}

.cadastree p {
    text-align: center;
    padding-top: 16px;
    color: #fff;
}

.form {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.fb_block {
    padding-top: 35px;
}

div.fb_block button {
    padding-left: 45px;
    height: 35px;
    width: 276px;
    margin: 0 auto;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}

#fb {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url("../images/facebook-icon.png");
}

div.fb_block button:active {
    background-color: #222;
}

.fb_block span {
    font-weight: 700;
}