* {
    margin: 0;
    padding: 0;
    font-family: "helvetica neue medium", Arial, sans-serif;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

/*<------сверху фиксы------>*/



.backgroung {
    background-image: url("../images/homework5.jpg");
    width: 1215px;
    height: 1029px;
    margin: auto;
}


/*<------началась шапка------>*/




header {
    width: 1215px;;
    height: 36px;
    background-color: rgb(8,91,159);
    margin: auto;
}

.border {
    height: 32px;
    border-left: solid 1px #56a2dc;
    margin-top: 2px;
}

.wrapper_right {
    float: right;
    margin-right: 25px;
    /* border-right: solid 2px #56a2dc;
     border-left: solid 2px #56a2dc;*/
}

.wrapper_right > div {
    float: right;
}

.ola {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.minhas {
    background-image: url("../images/flag.gif");
    background-size: 25px 27px;
    background-position: 15px center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    padding-left: 50px;
}

.wrap a {
    display: block;
    height: 26px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/*.wrap {
    box-sizing: border-box;
}*/

.wrap:hover {
    background: linear-gradient(to bottom, #50aedb, #2e7ac4);

}

.wrap:hover .decor {
    text-decoration: underline;
}



.wrapper_left {
    float: right;
}

.topmenu {
    float: right;
    display: block;
}

.topmenu a {
    display: block;
    height: 26px;
    padding: 10px 15px 0 15px;
    text-decoration: none;
    color: #60b5ed;
    font-size: 14px;
}

.topmenu a:hover {
    background: linear-gradient(to bottom, #50aedb, #2e7ac4);
    color: white;
}



/*<-------до сюдова шапка----------->*/





.transparent {
    margin: 0 auto;
    width: 560px;
    height: 550px;
    padding-top: 17.5%;
}

.cadastree {
    height: 62px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}

.cadastree p {
    text-align: center;
    padding-top: 16px;
    color: #fff;
}

.second {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.fb_block {
    padding-top: 35px;
}

div.fb_block button {
    padding-left: 45px;
    height: 35px;
    width: 276px;
    margin: 0 auto;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    border-top: 2px solid transparent;
}

#fb {
    border-color: #759cc3;
    background-color: #4a6ea9;
    background-image: url("../images/facebook-icon.png");
}

div.fb_block button:active {
    background-color: #222;
}

.fb_block span {
    font-weight: 800;
}

.q {
    margin-left: 25px;
    display: inline-block;
    height: 6px;
    width: 6px;
    border-top: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    transform: rotate(45deg);
}

.bord {
    border-right: groove 2px #335eb3;
    height: 35px;
    position: absolute;
    margin-left: 178px;
}

.trabl {
    position: relative;
    width: 275px;
    height: 50px;
    margin: 0 auto;
}
.left.top {
    float: left;
    width: 120px;
    height: 24px;
    border-bottom: solid 1px #666666;
}

.right.top {
    float: right;
    width: 120px;
    height: 24px;
    border-bottom: solid 1px #666666;
}

.left.bottom {
    float: left;
    width: 120px;

    border-top:solid 1px black;
}

.right.bottom {
    float: right;
    width: 120px;

    border-top:solid 1px black;
}

.ou {
    position: absolute;
    margin: 16px 125px;
    color: #999999;
}


.forms {

}

.form_item {
    padding: 8px 0;
    width: 276px;
    margin: auto;
    font-size: 14px;
    color: white;
}

.form_item > input:hover {
    background-color: #1b5288;
    box-shadow: 0 0 10px 5px #508cb4;
    border-bottom: solid 1px #689bcc;
}

.fild {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px #494947;
}

.submit.input {
    margin:  auto;
}

.form_item.submit {
    text-align: center;

}

.submit input {
    background: linear-gradient(to bottom, #50aedb, #2e7ac4);
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chk {

}

.text {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    color: #ccc;
}